@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

* {
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size: cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(75, 75, 250, 0.3);
    border-radius: 3px;
}

.center h1 {
    text-align: center;
    color: white;
    font-family: 'Source Code Pro', monospace;
    text-transform: uppercase;
}

body {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "main main main"
        "footer footer footer";



}

nav {
    background-color: black;
    color: white;
    grid-area: nav;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    margin: 0;
    display: none;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}


.dropdown ul,
.dropdown li {
    margin: 0;
    padding: 0;
}

.dropdown ul {
    list-style: none;
    width: 100%;

}

.dropdown li {
    float: left;
    position: relative;
    width: auto;

}

.dropdown a {
    color: white;
    display: block;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 15px 55px;
    text-align: center;
    transition: all 0.3s ease;
}

.dropdown li:hover a {
    background: #34495e;
}

#submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu {
    opacity: 1;
    top: 35px;
    visibility: visible;
    display: block;
}

#submenu li {
    float: left;
    width: 100%;
}

#submenu a:hover {
    background: #df4b05;
}

#submenu a {
    background: #34495e;
}

/*mobile nav style*/
.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
  
    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        background-color: black;
        width: 100%;
        top: 40px; /* Adjust as needed */
        left: 0;
        z-index: 1000;
    }

    .menu-toggle:checked + .menu {
        display: flex;
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        font-size: 24px;
        cursor: pointer;
        background-color: red;
    }
}


main {
    color: black;
    grid-area: main;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-content: center;
    margin: 0;
    margin-top: 50px;


}

/*project page style*/
.pro {
    width: 80%;
    height: 50vh;
    margin: auto ;
    padding: 0;
}

.ptop,
.pbottom {
    width: 96%;
    height: 30vh;
    margin: 60px;
    margin-top: auto;
}

.pro1,
.pro2,
.pro3,
.pro4 {
    display: inline;
    float: left;
    width: 46%;
    height: 96%;
    border-radius: 30px;
    margin: 2%;
    background-color: white;
    opacity: 0.4;

}



/*Styling for contact page*/
.contact {
    width: 650px;
    padding: 28px;
    margin-top: 900px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    height: 500px;
}

h2 {
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: white;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px o;
}

.input-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 15px;
}


.input-box:nth-child(2) {
    justify-content: end;
}

.input-box:nth-child(3) {
    width: 150%;
}

.input-box input {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.input-box input:is(:focus, :valid) {
    box-shadow: o 3px 6px rgba(0, 0, 0, 0.2);

}

.me {
    margin-left: 12px;
}


.contact form textarea {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    height: 150px;
    width: 200%;
    padding-left: 42px;
    padding-right: 10px;
    display: block;
    margin-left: 10px;




}

.textarea {
    align-items: center;
}

.button {
    /* margin: 15px 0; */
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.button button {
    width: 120px;
    justify-content: center;
    justify-self: start;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #aa076b, #61045f);
    cursor: pointer;
    transition: 0.3s;

}

.button button:hover {
    background-image: linear-gradient(to right, #61045f, #aa076b);
}

@media(max-width:600px) {
    .contact {
        min-width: 280px;
    }

    .content {
        max-height: 380px;
        overflow: auto;
    }

    .input-box {
        margin-bottom: 12px;
        width: 100%;
    }

    .input-box:nth-child(2n) {
        justify-content: space-around;
    }

    .content::-webkit-scrollbar {
        width: 0;
    }
}



footer {
    background-color: black;
    color: white;
    grid-area: footer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px;
    margin: 0px;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;

}